{% block _ad_images_widget %}
    <h6 class="mb-2">Ici, vous pouvez ajouter vos propres images !</h6>

    {{ form_widget(form) }}

    <input type="hidden" id="widgets-counter" value="0">

    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary">Ajouter une image</button>
    </div>
{% endblock %}

{% block _ad_images_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _ad_images_entry_widget %}
    <div class="form-group" id='block_{{ id }}'>
        <div class="row">
            <div class="col-md-5">
                <div class="mb-3">
                    {{ form_widget(form.url) }}
                    {{ form_errors(form.url) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    {{ form_widget(form.caption) }}
                    {{ form_errors(form.caption) }}
                </div>
            </div>
            <div class="col-md-1">
                <div class="mb-3 justify-content-center">
                    <button type="button" data-action='delete' data-target="#block_{{ id }}" 
                    class="btn btn-danger">X</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
